{% extends 'base.html' %}

{% block css_link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block title %}
    Main
{% endblock %}

{% block body %}
<div class="text">
    <h1>Туры для тебя, гражданин Арстоцки!</h1>
    <p>Как вы знаете, славная армия Арстоцки триумфально завершила шестилетнюю войну с подлыми колечианскими бандитами,
        вернув тем самым законный контроль над Восточным Грештином.
        Однако наше мудрое и справедливое правительство решило открыть границу! Разумеется, пересечение границы дозволено гражданам только
        в том случае, если все их документы могут быть предъявлены в надлежащем порядке.</p>
    <a href="{{ tours_page }}"><button>Выбрать тур</button></a>
</div>
{% endblock %}